# Backend - Render.com'da Environment Variables olarak ekleyin

MONGODB_URI=your_mongodb_connection_string
MONGODB_PASSWORD=your_mongodb_password
PORT=5001
JWT_SECRET=your_jwt_secret_key
NODE_ENV=production
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_CLOUD_KEY=your_cloudinary_api_key
CLOUDINARY_CLOUD_SECRET=your_cloudinary_api_secret

# Vercel'e deploy ettiğiniz frontend URL'i (https://your-app.vercel.app)
FRONTEND_URL=https://your-frontend.vercel.app
